# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

# Objective
+ python
+ R studio
+ SQL
+ Julia
+ MATLAB
+ JAVA

###### Some of the popular languages that data scientists use are;
1. python
2. R
3. SQL

###### some of the commonly used libraries used by Data Scientist includes;
1. Numpy
2. Pandas
3. Scikit

Data Science Tools |
--------------------------- 
Jupyter Notebook
Rstudio
Apache

### Below are a few examples of evaluating arithmetic expressions in Python
+ (a+b)
+ eval()
+ (a*b)

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Habeeb